<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Doctor_dyt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C2A0E9730CA2611CD219386552C7425880771122</string>
				<key>dateExpires</key>
				<string>2021/7/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GEK8BQKJRQ.com.zhangPengfei</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:https://dytapi.ynhdkc.com/.well-known/apple-app-site-association</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GEK8BQKJRQ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Doctor_dyt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1722e110-a92a-466b-a586-796e587ad882</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.zhangPengfei</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GEK8BQKJRQ</string>
				<key>name</key>
				<string>Yunnan Hedao Kangcheng Information Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
