<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>num</key>
		<integer>1</integer>
		<key>amount</key>
		<string>11.4小时</string>
		<key>title</key>
		<string>平均工时</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>1</integer>
		<key>amount</key>
		<string>13.0天</string>
		<key>title</key>
		<string>出勤天数</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>1</integer>
		<key>amount</key>
		<string>共13次</string>
		<key>title</key>
		<string>出勤班次</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>1</integer>
		<key>amount</key>
		<string>13天</string>
		<key>title</key>
		<string>休息天数</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0次</string>
		<key>title</key>
		<string>迟到</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0次</string>
		<key>title</key>
		<string>早退</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0次</string>
		<key>title</key>
		<string>缺卡</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0天</string>
		<key>title</key>
		<string>旷工</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0次</string>
		<key>title</key>
		<string>外勤</string>
	</dict>
	<dict>
		<key>num</key>
		<integer>0</integer>
		<key>amount</key>
		<string>0小时</string>
		<key>title</key>
		<string>加班</string>
	</dict>
</array>
</plist>
